/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

h2 {
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}

/* Container for the whole page */
.container {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Section Styling */
section {
  margin-bottom: 30px;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #eaeaea;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Button-like appearance for names */
li strong {
  color: #333;
  font-weight: bold;
}

/* Projects Section - additional styles */
li strong {
  color: #007bff;
}

li:hover {
  background-color: #d6d6d6;
  transition: background-color 0.3s ease;
}

/* Introduction Paragraph */
p {
  font-size: 18px;
  color: #333;
  text-align: center;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.dropdown-content {
  max-height: 0; /* Initial max-height for the collapsed state */
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 1s ease-out; /* Transition effect */
  background-color: white; /* Background color for the dropdown */
  padding: 0 1rem; /* Padding for the dropdown content */
  border-radius: 0 0 1rem 1rem; /* Rounded corners at the bottom */
}

.dropdown-content.show {
  max-height: 100vh; /* Adjust based on expected content height */
  padding: 1rem; /* Add padding when visible */
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); /* White border with transparency */
  border-top: 4px solid white; /* Solid white for the top */
  border-radius: 50%; /* Make it a circle */
  width: 20px; /* Width of the spinner */
  height: 20px; /* Height of the spinner */
  animation: spin 1s linear infinite; /* Spin animation */
  margin-left: 10px; /* Space between text and loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
